<div class="uk-padding bg-img2 uk-position-relative">
    <div class="impx-overlay dark"></div>
    <div class="uk-container">

        <div data-uk-grid class="uk-padding-remove-bottom uk-position-relative">
            <div class="uk-light uk-width-1-2@xl uk-width-1-2@l uk-width-1-2@m uk-width-1-3@s">
                <!-- address -->
                <h5 class="uk-heading-line uk-margin-remove-bottom"><span>Address</span></h5>
                <p class="impx-text-large uk-margin-top">10 - 20 High Mountain Rd. Blue Mountains, NSW<br />Australia
                    Raya</p>
            </div>
            <div class="uk-light uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-3@s">
                <!-- phone -->
                <h5 class="uk-heading-line uk-margin-bottom"><span>Phone</span></h5>
                <p class="impx-text-large uk-margin-remove">+61 02 82300678<br />+61 02 92745623</p>
            </div>
            <div class="uk-light uk-width-1-4@xl uk-width-1-4@l uk-width-1-4@m uk-width-1-3@s">
                <!-- email -->
                <h5 class="uk-heading-line uk-margin-bottom"><span>Email</span></h5>
                <a href="mailt:#" class="impx-text-large">admin.mountains@gmail.com</a><br />
                <a href="mailt:#" class="impx-text-large">info.mountains@gmail.com</a>
            </div>
        </div>

    </div>
</div>