<style>
    .logo_f {
        width: 120px !important;
        height: 120px !important;
    }

    #impx-footer {
        background: black;
    }
</style>
<footer id="impx-footer" class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center data-uk-grid">
            <div class="uk-width-1-2@xl uk-width-1-2@l uk-width-2-3@m">
                <div class="impx-footer-logo uk-align-center uk-text-center">
                    <!-- Footer Logo -->
                    <img src="images/logo/logo-white.svg" alt="" class="logo_f">
                    <!-- Footer Note -->
                    <p class="uk-margin-bottom">Indulge in opulence at our luxury resort. Unparalleled comfort,
                        world-class amenities, and impeccable service. Your extraordinary escape begins here.</p>
                    <!-- Site Copyright -->
                    <!-- <p class="impx-copyright"><a href="https://www.templatespoint.net" target="_blank">Templates
                            Point</a></p> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll to Top -->
    <a href="#top" class="to-top fa fa-long-arrow-up" data-uk-scroll></a>
    <!-- Scroll to Top End -->
</footer>