<style>
    .custom-link-color {
        color: red;
    }

    .logo {
        width: 60px;
        height: 60px;
    }
</style>
<div class="uk-container uk-container-expand">
    <div data-uk-grid>

        <!-- Header Logo -->
        <div class="uk-width-auto">
            <div class="impx-logo">
                <a href="index.php"><img src="images/logo.svg" class="logo" alt="Logo"></a>
            </div>
        </div>
        <!-- Header Logo End-->

        <!-- Header Navigation -->

        <div class="uk-width-expand uk-position-relative">
            <nav class="uk-navbar-container uk-navbar-transparent uk-visible@s uk-visible@m" data-uk-navbar>

                <div class="uk-navbar-right impx-navbar-right">
                    <ul class="uk-navbar-nav impx-nav style2">
                        <!-- Navigation Items -->
                        <li class="uk-parent uk-active">
                            <a href="index.php" class="uk-navbar-nav-subtitle">
                                <div>Home<div class="uk-navbar-subtitle">Welcome</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="uk-navbar-nav-subtitle">
                                <div>RESORTS<div class="uk-navbar-subtitle">Our Best Suites</div>
                                </div>
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-active"><a href="accommandations.php">ACCOMMADANTIONS</a></li>
                                    <li class="uk-active"><a href="restaurant.php">RESTAURANT</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="uk-navbar-nav-subtitle">
                                <div>Activities<div class="uk-navbar-subtitle">Our Facilities</div>
                                </div>
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav custom-link-color">
                                    <li class="uk-active"><a href="spa.php">SPA</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="uk-navbar-nav-subtitle">
                                <div>About<div class="uk-navbar-subtitle">Our Facilities</div>
                                </div>
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav custom-link-color">
                                    <li class="uk-active"><a href="about.php">About Us</a></li>
                                    <li><a href="testimonial.php">Testimonial</a></li>
                                    <li><a href="gallery.php">Gallery</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="contact.php" class="uk-navbar-nav-subtitle">
                                <div>Contact<div class="uk-navbar-subtitle">Get in Touch</div>
                                </div>
                            </a></li>
                    </ul>
                    <!-- Navigation Items End -->
                </div>
            </nav>
        </div>
        <!-- Header Navigation End -->

    </div>
</div>
</div>
</div>

</header>
<!-- HEADER END -->