<!-- Mobile Nav Start -->
<div id="mobile-nav" data-uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-parent uk-active">
                <a href="index.php">Home</a>
            </li>
            <li class="uk-parent">
                <a href="rooms2.php" class="uk-navbar-nav-subtitle">Rooms</a>
            </li>
            <li><a href="restaurant.php">Restaurant</a></li>
            <li><a href="spa.html">Spa</a></li>
            <li><a href="activities.html">Activities</a></li>
            <li class="uk-parent">
                <a href="#">Pages</a>
                <ul class="uk-nav-sub">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="testimonial.html">Testimonial</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="single-post.html">Single Post</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="element.html">Element</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

    </div>
</div>
<a href="#mobile-nav" class="uk-hidden@xl uk-hidden@l uk-hidden@m mobile-nav" data-uk-toggle="target: #mobile-nav"><i
        class="fa fa-bars"></i>Menu</a>